<form method="post" action="{{ path('reservationeven_delete', {'id': reservationeven.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservationeven.id) }}">
    <button class=" btn btn-primary"  >Delete</button>
</form>
